<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ubtrobot.smartprojector">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!--
 If your app targets Android 9 or lower, you can declare
         ACCESS_COARSE_LOCATION instead.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".SmartProjectorApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartProjector"
        tools:replace="android:allowBackup,android:supportsRtl">
        <activity android:name=".ui.TuyaActivity"></activity>
        <!-- 涂鸦智能 -->
        <meta-data
            android:name="TUYA_SMART_APPKEY"
            android:value="ff5uvrfpueseqfhaa3xf" />
        <meta-data
            android:name="TUYA_SMART_SECRET"
            android:value="kseax57eug4vf5atfcwq9ytq3swtnav7" />

        <activity
            android:name=".ui.VideoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="视频测试页面" />
        <activity
            android:name=".serialport.SerialPortActivity"
            android:label="串口通信" />
        <activity
            android:name=".MqttActivity"
            android:label="MQTT测试" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="org.eclipse.paho.android.service.MqttService" />
        <service
            android:name=".ui.VideoDownloadService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.exoplayer.downloadService.action.RESTART" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
    </application>

</manifest>