<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ubtrobot.smartprojector">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" /> -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 系统弹窗 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <!--
     If your app targets Android 9 or lower, you can declare
             ACCESS_COARSE_LOCATION instead.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".SmartProjectorApp"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup,android:supportsRtl">
        <activity android:name=".ui.profile.ProfileActivity"
            android:screenOrientation="userLandscape"/>
        <activity android:name=".ui.call.AgoraVideoActivity"
            android:screenOrientation="userLandscape"/>
        <activity android:name=".ui.call.AgoraVoiceCallActivity"
            android:screenOrientation="userLandscape"/>
        <activity android:name=".ui.call.CallingActivity"
            android:screenOrientation="userLandscape"/>
        <activity android:name=".ui.call.CallWithPatriarchActivity"
            android:screenOrientation="userLandscape"/>
        <activity
            android:name=".ui.video.VideoPlayerActivity"
            android:screenOrientation="userLandscape" />
        <activity
            android:name=".ui.MathematicsClassroomActivity"
            android:screenOrientation="userLandscape" />
        <activity
            android:name=".ui.EnglishClassroomActivity"
            android:screenOrientation="userLandscape" />
        <activity
            android:name=".ui.tuya.FamilyManagerActivity"
            android:screenOrientation="userLandscape" />
        <activity
            android:name=".ui.tuya.CreateFamilyActivity"
            android:screenOrientation="userLandscape" />
        <activity
            android:name=".ui.ChineseDetailActivity"
            android:screenOrientation="userLandscape" />
        <activity
            android:name=".ui.tuya.NewDeviceActivity"
            android:screenOrientation="userLandscape" />
        <activity
            android:name=".ui.tuya.TuyaHomeActivity"
            android:screenOrientation="userLandscape" />
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:screenOrientation="userLandscape" />
        <activity
            android:name=".test.TestActivity"
            android:screenOrientation="userLandscape" />
        <activity
            android:name=".ui.restrict.AppWhiteListActivity"
            android:screenOrientation="userLandscape" />
        <activity
            android:name=".ui.restrict.ScreenLockActivity"
            android:screenOrientation="userLandscape" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:screenOrientation="userLandscape"
            android:theme="@style/AppTheme.NoAnimation">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- <category android:name="android.intent.category.HOME" /> -->
            <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="userLandscape"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.FileDownloadActivity"
            android:label="文件下载测试"
            android:screenOrientation="userLandscape" />
        <activity
            android:name=".ui.video.VideoCacheActivity"
            android:label="缓存视频"
            android:screenOrientation="userLandscape" />
        <activity
            android:name=".ui.tuya.TuyaActivity"
            android:label="登录服务测试"
            android:screenOrientation="userLandscape" /> <!-- 涂鸦智能 -->
        <meta-data
            android:name="TUYA_SMART_APPKEY"
            android:value="ff5uvrfpueseqfhaa3xf" />
        <meta-data
            android:name="TUYA_SMART_SECRET"
            android:value="kseax57eug4vf5atfcwq9ytq3swtnav7" />

        <activity
            android:name=".ui.video.VideoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="视频测试页面"
            android:launchMode="singleTask"
            android:screenOrientation="userLandscape" />
        <activity
            android:name=".serialport.SerialPortActivity"
            android:label="串口通信"
            android:screenOrientation="userLandscape" />
        <activity
            android:name=".MqttActivity"
            android:label="MQTT测试"
            android:screenOrientation="userLandscape" />
        <activity
            android:name=".ui.MainActivity"
            android:clearTaskOnLaunch="true"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="userLandscape"
            android:theme="@style/AppTheme.Main">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- <category android:name="android.intent.category.HOME" /> -->
            <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            <!-- </intent-filter> -->
        </activity>

        <service android:name="org.eclipse.paho.android.service.MqttService" />
        <service
            android:name=".ui.video.VideoCacheDownloadService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.exoplayer.downloadService.action.RESTART" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service
            android:name="com.google.android.exoplayer2.scheduler.PlatformScheduler$PlatformSchedulerService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" /> <!-- 更新下载服务 -->
        <service
            android:name=".update.DownloadService"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.ubtrobot.smartprojector.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths"
                tools:replace="android:resource" />
        </provider>

        <receiver android:name=".receivers.GetLearnReceiver">
            <intent-filter>
                <action android:name="com.wyt.ybx.register" />
            </intent-filter>
        </receiver>
    </application>

</manifest>